<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </script>
  <style>
    html{scroll-behavior:smooth}
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 500px;
  }
  #abt{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: justify;
    
  }
  #work{
  padding: 10px;
  font-weight: bold;
  }
  </style>

</head>
  <body>
      <nav class="navbar navbar-expand-sm navbar-dark text-white fixed-top" style="background-color:red">
          <a class="navbar-brand" href="#">HIV & Aids Analysis</a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="#abt">About us </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-light" href="#cont" >Contact Us </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#sign" >Sign Up </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#sign2">Sign In </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#work">Workshops & Seminars </a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </div>
      </nav>

<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../static/images/rr.jpg" alt="First slide"/>
            <div class="carousel-caption d-none d-md-block">
             
             <h5 class="text-info">"HIV does not make people dangerous to know, so you can shake their hands and give them a hug: Heaven knows they need it" -Princess Diana</h5>
          </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../static/images/hiv2.jpeg" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../static/images/wrd.jpeg" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
             
<h5 class="text-info">It is estimated that currently only 75 per cent of people with HIV know their status.</h5>
           </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
<br>
<div class="container-fluid" id="abt">
  <h2 class="text-danger" style="text-align:center;text-transform: capitalize;">About Project</h2>



</div>
<hr>
<div class="container" >
  By doing the research on  Human Immunodeficiency virus from 2015 to 2021. We found that in India there are 2.1 million people already infacted by HIV virus and the age group of these patients is 15-49 and it is higher in the men by 0.25% and in women it is 0.19% and it is mostly spread by the sex workers that are working in India this is very high risk group which spread the HIV all over the country. And 1.6% women already living with HIV. In Maharashtra HIV like a bomb 7.4% sex workers are living with HIV and in Andhra Pradesh it is 6.3% and in North Karnataka 90% of female sex workers witnessed in HIV. In India  7.2 millions people are migrated from there home towns out of this 0.2% people living with HIV and out of this 0.2% are truck drivers which are living with HIV because lack of sex education related to the HIV.
     So, with the help of these information, we tried to solve the problems of the HIV patients by implementing those ideas to develop this system.


     <br>
     <br>
     <p style="text-align:center ; font-weight: bold;">----------Click On Button To Get Statical Analysis About Hiv & Aids----------</p>
    <div style="text-align: center;"> <a name="" id="" class="btn btn-danger bt-lg" href="/dash" role="button">Dashboard</a></div>
</div>

<hr>

<div class="container" style="text-align:center ;">
 
  <br><br>
  <p class="lead">
    <small class="text-muted"> This is an intelligent Bot  by using this Patient/Student/Teacher or any other person can ask any question related to the HIV. It will help as just like a close friend. It will answer all the questions whatever a user want to ask this will give answer with 99% accuracy.
    </small>

  </p>
  <a name="" id="" class="btn btn-primary btn-lg" href="/bot" role="button">Talk With BOT</a>
</div>
<br><br>
<hr>
<br>
<div class="container" >
  

<div class="row" id="sign">

  <div class="col-lg-6" style="border-right: 2px solid gray ;">
    <h2>Registration</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="name">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contact No.</label>
        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Contact No">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">City</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="City">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Gender</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Male">
          <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Female">
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Not Spacify">
          <label class="form-check-label" for="inlineRadio3">Not Spacify</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-lg-6" id="sign2">
    <h2>Login</h2>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>
</div>

<br><hr>
<div class="container-fluid">
  <h2 class="text-danger" style="text-align:center;text-transform: capitalize;">Problem Identification</h2>



</div>
<br>
<div class="container" id="work">
  Sex workers and migrants most at risk of HIV, we can help them through workshops, counseling, medication and sex educationEven in adolescence, many children are confused in questions related to sex, due to which they do wrong or unprotected sex, they need to know about all the information related to itIt is the responsibility of both teachers and parents to openly talk to children and tell them about the dangers of unsafe sex.There should also be workshops related to sex education in schools and collages.


     <br>
     <br>
    
    <div style="text-align: center;"> <a name="" id="" class="btn btn-info bt-lg" href="/wrk" role="button">Fill Form To Organise Workshop & Seminars In Your Areas</a></div>
</div>


<br><br>

<hr>
<div class="container-fluid" id="cont">
  <h2 class="text-danger" style="text-align:center;text-transform: capitalize;">Contact Us</h2>



</div>
<div class="container" style="text-align:center ;">
<a href="#">Talk with counsler @ 7678678686 </a>
</div>
<br>
<br>
<hr>
<div style="text-align:center ;">
<a href="" style="text-align:center ; color: gray; text-decoration:none ;"> Created By Arun</a>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>